<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <ul class="header_ul">
            <li><a href="{% url 'home' %}">Главная страница</a></li>
            <li><a href="{% url 'blog' %}">Блог</a></li>
            <li><a href="{% url 'users' %}">Пользователи</a></li>
        </ul>
    </header>
    {% block content %}{% endblock %}
</body>
</html>